@font-face {
  font-family: 'LatticeCircular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.vidgrid.com/EuclidCircularB/Regular/S/EuclidCircularB-Regular-WebS.woff') format('woff'),
  url('https://fonts.vidgrid.com/EuclidCircularB/Regular/S/EuclidCircularB-Regular-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'LatticeCircular';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.vidgrid.com/EuclidCircularB/Medium/S/EuclidCircularB-Medium-WebS.woff') format('woff'),
  url('https://fonts.vidgrid.com/EuclidCircularB/Medium/S/EuclidCircularB-Medium-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'LatticeCircular';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.vidgrid.com/EuclidCircularB/Semibold/S/EuclidCircularB-Semibold-WebS.woff') format('woff'),
  url('https://fonts.vidgrid.com/EuclidCircularB/Semibold/S/EuclidCircularB-Semibold-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'LatticeCircular';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.vidgrid.com/EuclidCircularB/Bold/S/EuclidCircularB-Bold-WebS.woff') format('woff'),
  url('https://fonts.vidgrid.com/EuclidCircularB/Bold/S/EuclidCircularB-Bold-WebS.woff2') format('woff2');
}